/* colocando algo para não deixar o arquivo vazio */
.inputs-box input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(19, 19, 19);
  color: rgb(14, 13, 13);
  font-size: 16px;
  margin-bottom: 30px;
  outline: none;
  padding: 10px 0;
  width: 400px;
}

.inputs-box button {
  background-color: #0d0d0e;
  border-style: none;
  color: #fafcfc;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 4px;
  margin-top: 40px;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.button:enabled {
  background: #04fc2598;
  border-radius: 5px;
  box-shadow: 0 0 5px #04fc25be , 0 0 25px #04fc25 , 0 0 50px #04fc25 , 0 0 100px #04fc25;
  color: white;
}

.button:disabled {
  background: #f10707;
  border-radius: 5px;
  box-shadow: 0 0 5px #f10707 , 0 0 25px #f10707 , 0 0 50px #f10707 , 0 0 100px #f10707;
  color: white;
}
